[submodule "contrib/pico-sdk"]
	path = contrib/pico-sdk
	url = git@github.com:raspberrypi/pico-sdk.git
[submodule "contrib/FreeRTOS-Kernel"]
	path = contrib/FreeRTOS-Kernel
	url = git@github.com:FreeRTOS/FreeRTOS-Kernel.git
[submodule "contrib/ConfigurableFirmata/ConfigurableFirmata"]
	path = contrib/ConfigurableFirmata/ConfigurableFirmata
	url = git@github.com:firmata/ConfigurableFirmata.git
[submodule "contrib/ConfigurableFirmata/arduino-pico"]
	path = contrib/ConfigurableFirmata/arduino-pico
	url = git@github.com:earlephilhower/arduino-pico.git
