name: Build a docker container image including a toolchain and standard libraries for rp2040

on:
  push:
    tags:
      - "buildenv-*"

env:
  REGISTRY: ghcr.io
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Login to ghcr.io
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITGUB_TOKEN }}
    - name: Create the GitHub Repository Name with All Small Cases
      run: |
        echo "REPOSITORY_NAME_LC=${REPOSITORY_NAME,,}" >>"${GITHUB_ENV}"
      env:
        REPOSITORY_NAME: '${{ github.repository }}'
    - name: Build and push the container
      uses: docker/build-push-action@v5
      with:
        push: true
        target: "buildenv"
        tags: ${{ env.REGISTRY }}/${{ env.REPOSITORY_NAME_LC }}/${{ env.IMAGE_NAME }}:latest,${{ env.REGISTRY }}/${{ env.REPOSITORY_NAME_LC }}/${{ env.IMAGE_NAME }}:${{ github.ref_name }}
